/* CSS sytlesheet for odin-calculator */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    display: flex;
}

.buttonSpacer {
    
}

.primaryButton, .buttonSpacer, .secondaryButton {
    height: 48px;
    width: 72px;
    margin: 2px;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
}

.primaryButton {
    background-color: #d2d4d6;
    color: #041d38;
}

.secondaryButton {
    background-color: #041d38;
    color: #d2d4d6;
}

#calculator {
    height: 420px;
    width: 360px;
    border-style: solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #476a91;
}

#clear {
    align-self: flex-start;
}

#display {
    height: 88px;
    width: 288px;
    padding: 8px;
    margin: 8px;
    margin-bottom: 16px;
    text-align: end;
    font-size: 72px;
    line-height: 88px;
    background-color: #d2d4d6;
    border-radius: 8px;
}

#footer {

}

#header {

}

#model {
    color: #d2d4d6;
    text-decoration: underline;
    margin-top: 12px;
}