/* CSS sytlesheet for odin-calculator */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonRow {
    
}

.buttonSpacer {
    height: 24px;
    width: 36px;
}

.primaryButton {
    height: 24px;
    width: 36px;
}

.secondaryButton {
    height: 24px;
    width: 36px;
}

#calculator {
    height: 500px;
    width: 400px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    height: 48px;
    width: 144px;
    border-style: dashed;
}

#footer {

}

#header {

}

